[Unit]
Description=GanzamApi
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ganzamapi
Group=ganzamapi
WorkingDirectory=/opt/ganzamapi
EnvironmentFile=/etc/ganzamapi/ganzamapi.env
ExecStart=/opt/ganzamapi/GanzamApi
Restart=always
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
